<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxcrm.Cust360.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.75" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="Cust360AM"
      FullName="od.oracle.apps.xxcrm.Cust360.server.Cust360AM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="CustVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.CustVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CaseVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.CaseVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PriceVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.PriceVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LoyVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.LoyVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="FinParentVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.FinParentVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="FinChildVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.FinChildVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PotentialVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.PotentialVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PotentialDetVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.PotentialDetVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CampVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.CampVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="BackOrderVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.BackOrderVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CustBillingInfoVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.CustBillingInfoVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TaxExemptVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.TaxExemptVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PastDueInfoVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.PastDueInfoVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AopsSearchVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.AopsSearchVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CdhSearchVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.CdhSearchVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LoySearch"
      FullName="od.oracle.apps.xxcrm.Cust360.server.LoySearch"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SearchByPhoneVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.SearchByPhoneVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="StatisticsVO"
      FullName="od.oracle.apps.xxcrm.Cust360.server.StatisticsVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
