<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.papb.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.75" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="PAPBAM"
      FullName="od.oracle.apps.xxmer.papb.server.PAPBAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="GenPrdDtlEO"
      FullName="od.oracle.apps.xxmer.papb.server.GenPrdDtlEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="GenPrdDtlVO"
      FullName="od.oracle.apps.xxmer.papb.server.GenPrdDtlVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PrdLogisticsEO"
      FullName="od.oracle.apps.xxmer.papb.server.PrdLogisticsEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="prdLogisticsVO"
      FullName="od.oracle.apps.xxmer.papb.server.prdLogisticsVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TariffAprvEO"
      FullName="od.oracle.apps.xxmer.papb.server.TariffAprvEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="TariffAprvVO"
      FullName="od.oracle.apps.xxmer.papb.server.TariffAprvVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LogisticsTariffApprvVO"
      FullName="od.oracle.apps.xxmer.papb.server.LogisticsTariffApprvVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PrdQATestEO"
      FullName="od.oracle.apps.xxmer.papb.server.PrdQATestEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="PrdQATestResEO"
      FullName="od.oracle.apps.xxmer.papb.server.PrdQATestResEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="PrdQATestVO"
      FullName="od.oracle.apps.xxmer.papb.server.PrdQATestVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PrdQATestResVO"
      FullName="od.oracle.apps.xxmer.papb.server.PrdQATestResVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="FndUserEO"
      FullName="od.oracle.apps.xxmer.papb.server.FndUserEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="PerAllPeopleEO"
      FullName="od.oracle.apps.xxmer.papb.server.PerAllPeopleEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="PrdLogisticsImpDtlVO"
      FullName="od.oracle.apps.xxmer.papb.server.PrdLogisticsImpDtlVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ProdDtlSrchVO"
      FullName="od.oracle.apps.xxmer.papb.server.ProdDtlSrchVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
