<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxfin.iby.settlement.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="SettlementAM"
      FullName="od.oracle.apps.xxfin.iby.settlement.server.SettlementAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XxIbyBatchTrxHistDetailsVO"
      FullName="od.oracle.apps.xxfin.iby.settlement.server.XxIbyBatchTrxHistDetailsVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxIbyBatchTrxns201HistoryVO"
      FullName="od.oracle.apps.xxfin.iby.settlement.server.XxIbyBatchTrxns201HistoryVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxIbyBatchTrxnsHistoryVO"
      FullName="od.oracle.apps.xxfin.iby.settlement.server.XxIbyBatchTrxnsHistoryVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
