<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxcrm.cdh.ebl.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.12.53" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="ODEbillAM"
      FullName="od.oracle.apps.xxcrm.cdh.ebl.server.ODEbillAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="ODEbillCustDocVO"
      FullName="od.oracle.apps.xxcrm.cdh.ebl.server.ODEbillCustDocVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ODEBillMainVO"
      FullName="od.oracle.apps.xxcrm.cdh.ebl.server.ODEBillMainVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ODEBillEmailDetVO"
      FullName="od.oracle.apps.xxcrm.cdh.ebl.server.ODEBillEmailDetVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ODEBillCDDetVO"
      FullName="od.oracle.apps.xxcrm.cdh.ebl.server.ODEBillCDDetVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ODEBillPVO"
      FullName="od.oracle.apps.xxcrm.cdh.ebl.server.ODEBillPVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ODEBillStdTempVO"
      FullName="od.oracle.apps.xxcrm.cdh.ebl.server.ODEBillStdTempVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
