<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.schema.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.75" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="AllocationHeaderEO"
      FullName="od.oracle.apps.xxmer.schema.server.AllocationHeaderEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="AllocationLinesEO"
      FullName="od.oracle.apps.xxmer.schema.server.AllocationLinesEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="AllocationLineToHeaderAO"
      FullName="od.oracle.apps.xxmer.schema.server.AllocationLineToHeaderAO"
      ObjectType="Association" >
   </Containee>
   <Containee
      Name="PoHeadersAllEO"
      FullName="od.oracle.apps.xxmer.schema.server.PoHeadersAllEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="AllocationVAM"
      FullName="od.oracle.apps.xxmer.schema.server.AllocationVAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="AllocationQuantityVVO"
      FullName="od.oracle.apps.xxmer.schema.server.AllocationQuantityVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EbsHoldBackQtyHierEO"
      FullName="od.oracle.apps.xxmer.schema.server.EbsHoldBackQtyHierEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="EbsHoldBackQtyWhEO"
      FullName="od.oracle.apps.xxmer.schema.server.EbsHoldBackQtyWhEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="OdHoldBackQtyEO"
      FullName="od.oracle.apps.xxmer.schema.server.OdHoldBackQtyEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="FkOdHoldBackQuantityWhAssoc"
      FullName="od.oracle.apps.xxmer.schema.server.FkOdHoldBackQuantityWhAssoc"
      ObjectType="Association" >
   </Containee>
   <Containee
      Name="FkOdHoldBackQuantityHierAssoc"
      FullName="od.oracle.apps.xxmer.schema.server.FkOdHoldBackQuantityHierAssoc"
      ObjectType="Association" >
   </Containee>
   <Containee
      Name="ItemVAM"
      FullName="od.oracle.apps.xxmer.schema.server.ItemVAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="ItemVVO"
      FullName="od.oracle.apps.xxmer.schema.server.ItemVVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
