<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxom.xxTDSrexceptions.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.12.53" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="xxTDSrexceptionsEO"
      FullName="od.oracle.apps.xxom.xxTDSrexceptions.server.xxTDSrexceptionsEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="xxTDSrexceptionsVO"
      FullName="od.oracle.apps.xxom.xxTDSrexceptions.server.xxTDSrexceptionsVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxTDSrexceptionsAM"
      FullName="od.oracle.apps.xxom.xxTDSrexceptions.server.xxTDSrexceptionsAM"
      ObjectType="AppModule" >
   </Containee>
</JboPackage>
