<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.scdashboard.lov.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.01" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="OD_SC_VendorNumberVO"
      FullName="od.oracle.apps.xxmer.scdashboard.lov.server.OD_SC_VendorNumberVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_SC_VendorNameVO"
      FullName="od.oracle.apps.xxmer.scdashboard.lov.server.OD_SC_VendorNameVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_SC_FactoryNumber"
      FullName="od.oracle.apps.xxmer.scdashboard.lov.server.OD_SC_FactoryNumber"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_SC_FactoryName"
      FullName="od.oracle.apps.xxmer.scdashboard.lov.server.OD_SC_FactoryName"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ODSCDashboard_LOVAM"
      FullName="od.oracle.apps.xxmer.scdashboard.lov.server.ODSCDashboard_LOVAM"
      ObjectType="AppModule" >
   </Containee>
</JboPackage>
