.header .bannerSecondary {
	TEXT-ALIGN: right; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: right; PADDING-TOP: 20px
}
.header .logo {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; FLOAT: left; HEIGHT: 50px; OVERFLOW: hidden; PADDING-TOP: 20px
}
.header .sdcPoweredBy {
	PADDING-RIGHT: 25px; MARGIN-BOTTOM: 10px
}
.rangBannerSecondary {
	TEXT-ALIGN: right; PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 225px; FLOAT: right; PADDING-TOP: 20px
}
.header .phone {
	PADDING-RIGHT: 25px
}
.header .bannerSeparator {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 780px; PADDING-RIGHT: 0px; HEIGHT: 19px; PADDING-TOP: 0px
}
