<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.wfh.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.75" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="WorkflowHierarchyAM"
      FullName="od.oracle.apps.xxmer.wfh.server.WorkflowHierarchyAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="DeletePlannerVO"
      FullName="od.oracle.apps.xxmer.wfh.server.DeletePlannerVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="NewPlannerVO"
      FullName="od.oracle.apps.xxmer.wfh.server.NewPlannerVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PlannerVO"
      FullName="od.oracle.apps.xxmer.wfh.server.PlannerVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ManagerToPlannerVL"
      FullName="od.oracle.apps.xxmer.wfh.server.ManagerToPlannerVL"
      ObjectType="ViewLink" >
   </Containee>
   <Containee
      Name="UpdatePlannerVO"
      FullName="od.oracle.apps.xxmer.wfh.server.UpdatePlannerVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ClassSummaryVO"
      FullName="od.oracle.apps.xxmer.wfh.server.ClassSummaryVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="MerchClassSummaryVO"
      FullName="od.oracle.apps.xxmer.wfh.server.MerchClassSummaryVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UpdateClassVO"
      FullName="od.oracle.apps.xxmer.wfh.server.UpdateClassVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ClassVendorSummaryVO"
      FullName="od.oracle.apps.xxmer.wfh.server.ClassVendorSummaryVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UpdateClassVendorVO"
      FullName="od.oracle.apps.xxmer.wfh.server.UpdateClassVendorVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
