<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.papb.poplist.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.75" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="ExcelTemplateTypeVO"
      FullName="od.oracle.apps.xxmer.papb.poplist.server.ExcelTemplateTypeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TariffVerificationProcessVO"
      FullName="od.oracle.apps.xxmer.papb.poplist.server.TariffVerificationProcessVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TariffConfirmProcessVO"
      FullName="od.oracle.apps.xxmer.papb.poplist.server.TariffConfirmProcessVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="InitItemDecisionVO"
      FullName="od.oracle.apps.xxmer.papb.poplist.server.InitItemDecisionVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="FinalItemDecisionVO"
      FullName="od.oracle.apps.xxmer.papb.poplist.server.FinalItemDecisionVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ProjectTypeVO"
      FullName="od.oracle.apps.xxmer.papb.poplist.server.ProjectTypeVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
