<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxcrm.tds.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="xxGetDateDisplayVO"
      FullName="od.oracle.apps.xxcrm.tds.server.xxGetDateDisplayVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XXTDSAutoReprocessMainAM"
      FullName="od.oracle.apps.xxcrm.tds.server.XXTDSAutoReprocessMainAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="xxTDSFlexValueVO"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSFlexValueVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxTDSNCQuery"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSNCQuery"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxTDSNTQuery"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSNTQuery"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxTDSReprocessVO"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSReprocessVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxTDSRetriggerActionListVO"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSRetriggerActionListVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxTDSRetriggerMainAM"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSRetriggerMainAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="xxTDSRetriggerNoConnectVO"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSRetriggerNoConnectVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxTDSRetriggerNoTasksVO"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSRetriggerNoTasksVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="xxTDSRetriggerReprocessActionVO"
      FullName="od.oracle.apps.xxcrm.tds.server.xxTDSRetriggerReprocessActionVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
