<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.scdashboard.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.01" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="ODSCDashboardAM"
      FullName="od.oracle.apps.xxmer.scdashboard.server.ODSCDashboardAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="ODSCVendorRegionVO"
      FullName="od.oracle.apps.xxmer.scdashboard.server.ODSCVendorRegionVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ODSCAuditHistoryVO"
      FullName="od.oracle.apps.xxmer.scdashboard.server.ODSCAuditHistoryVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ODSCInspectionDetailsVO"
      FullName="od.oracle.apps.xxmer.scdashboard.server.ODSCInspectionDetailsVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
