<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxcrm.mps.reports.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.01" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="XXCSMPSTonerOrderVO"
      FullName="od.oracle.apps.xxcrm.mps.reports.server.XXCSMPSTonerOrderVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XXCSMPSTonerOrderRptAM"
      FullName="od.oracle.apps.xxcrm.mps.reports.server.XXCSMPSTonerOrderRptAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XXCSMPSIncidentsOpenVO"
      FullName="od.oracle.apps.xxcrm.mps.reports.server.XXCSMPSIncidentsOpenVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XXCSMPSIncidentsOpenRptAM"
      FullName="od.oracle.apps.xxcrm.mps.reports.server.XXCSMPSIncidentsOpenRptAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XXCSMPSAVFRptAM"
      FullName="od.oracle.apps.xxcrm.mps.reports.server.XXCSMPSAVFRptAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XXCSMPSAVFRptVO"
      FullName="od.oracle.apps.xxcrm.mps.reports.server.XXCSMPSAVFRptVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
