<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.plmpjrdashboard.schema.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.01" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="OD_NotesEO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.schema.server.OD_NotesEO"
      ObjectType="Entity" >
   </Containee>
</JboPackage>
