<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.schema.wfh.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.75" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="LeafPlannerVVO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.LeafPlannerVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PlannerHierarchyVAM"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.PlannerHierarchyVAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="PlannerHierarchyEO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.PlannerHierarchyEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="MerchClassEO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.MerchClassEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="ClassEO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.ClassEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="ClassVendorEO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.ClassVendorEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="PlannerExistenceVVO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.PlannerExistenceVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ManagerExistenceVVO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.ManagerExistenceVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EmployeeExistenceVVO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.EmployeeExistenceVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="VendorExistenceVVO"
      FullName="od.oracle.apps.xxmer.schema.wfh.server.VendorExistenceVVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
