<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.01" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="OD_TaskNameLOVVO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_TaskNameLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_PLMPJRDashboardLOVAM"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_PLMPJRDashboardLOVAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="OD_ProjectNameNumberLOVVO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_ProjectNameNumberLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_DivisionNameLOVVO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_DivisionNameLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_DepartmentLOVVO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_DepartmentLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_ClassNameLOVVO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_ClassNameLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_TaskStatusLOVVO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_TaskStatusLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_AssingUserLOVVO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_AssingUserLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OD_ProjectResourceLOVVO"
      FullName="od.oracle.apps.xxmer.plmpjrdashboard.lov.server.OD_ProjectResourceLOVVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
