<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="od.oracle.apps.xxmer.allocation.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.75" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="AllocationAM"
      FullName="od.oracle.apps.xxmer.allocation.server.AllocationAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="SearchAllocationVO"
      FullName="od.oracle.apps.xxmer.allocation.server.SearchAllocationVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AllocationHeaderVO"
      FullName="od.oracle.apps.xxmer.allocation.server.AllocationHeaderVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="AllocationLinesVO"
      FullName="od.oracle.apps.xxmer.allocation.server.AllocationLinesVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CreateAllocationVO"
      FullName="od.oracle.apps.xxmer.allocation.server.CreateAllocationVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CreatePVO"
      FullName="od.oracle.apps.xxmer.allocation.server.CreatePVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
